# Build
bin/
obj/
.vs/

# Pacotes gerados
*.apk
*.aab

# Chaves/segredos
*.keystore
key.keystore
secrets.json
# Build
bin/
obj/
.vs/

# Artefatos
*.apk
*.aab

# Chaves/segredos
*.keystore
key.keystore
secrets.json
